<section class="advantages">
  <div class="container">
    <h2 hidden>Advantages</h2>
    <ul class="advantages__list">
      <li class="advantages__item advantages__item--icon-first">
        <h2 class="advantages__number">721</h2>
        <p class="advantages__description">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="advantages__item advantages__item--icon-second">
        <h2 class="advantages__number">16kg</h2>
        <p class="advantages__description">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="advantages__item advantages__item--icon-third">
        <h2 class="advantages__number">84</h2>
        <p class="advantages__description">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
    </ul>
  </div>
</section>
