<!--CONTACTS-->
<section class="contacts section">
    <div class="container">
        <h2 hidden>Contacts</h2>
        <ul class="contacts__list list">
            <li class="contacts-card__item">
                <div class="branch__container">
                   <div class="branch__name-container branch__name-container--brown">
                       <p class="branch__name branch__name--brown">CAFE</p>
                    </div>
                   <p class="branch__city">Chicago</p>
                   <p class="branch__description branch__description--accent">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                   <div class="branch__border"></div> 
                   <ul class="branch__schedule">
                        <li class="working-day__list">
                            <p class="branch__days">Monday - Friday</p>
                            <p class="branch__hours">06:00 AM - 10:00 PM</p>
                        </li>
                        <li class="weekend-day__list">
                            <p class="branch__days">Saturday - Sunday</p>
                            <p class="branch__hours">08:00 AM - 16:00 PM</p>
                        </li>
                    </ul>
                    <div class="branch__border"></div>
                    <ul class="contact__list">
                        <li class="contact__tel">
                            <a class="tel__link link" href="tel:+61(0)383766284">+61(0) 383 766 284 </a>
                        </li>
                        <li class="contact_mail">
                            <a class="mail__link link" href="mailto:noreply@envato.com">noreply@envato.com</a>
                        </li>
                    </ul>
                </div>
            </li>

            <li class="contacts-card__item">
                <div class="branch__container">
                  <div class="branch__name-container branch__name-container--green">
                      <p class="branch__name branch__name--green">FOOD TRUCK</p>
                  </div>
                  <p class="branch__city">Los Angeles</p>
                  <p class="branch__description branch__description--accent">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                  <div class="branch__border"></div>
                  <ul class="branch__schedule">
                        <li class="working-day__list">
                            <p class="branch__days">Monday - Friday</p>
                            <p class="branch__hours">06:00 AM - 10:00 PM</p>
                        </li>
                        <li class="weekend-day__list">
                            <p class="branch__days">Saturday - Sunday</p>
                            <p class="branch__hours">08:00 AM - 16:00 PM</p>
                        </li>
                    </ul>
                    <div class="branch__border"></div>
                    <ul class="contact__list">
                        <li class="contact__tel">
                            <a class="tel__link link" href="tel:+61(0)383766284">+61(0) 383 766 284 </a>
                        </li>
                        <li class="contact_mail">
                            <a class="mail__link link" href="mailto:noreply@envato.com">noreply@envato.com</a>
                        </li>
                    </ul>
                </div>
            </li>

            <li class="contacts-card__item">
                <div class="branch__container">
                    <div class="branch__name-container branch__name-container--brown">
                        <p class="branch__name branch__name--brown">CAFE</p>
                    </div>
                    <p class="branch__city">New York</p>
                    <p class="branch__description branch__description--accent">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                    <div class="branch__border"></div>
                    <ul class="branch__schedule">
                        <li class="working-day__list">
                            <p class="branch__days">Monday - Friday</p>
                            <p class="branch__hours">06:00 AM - 10:00 PM</p>
                        </li>
                        <li class="weekend-day__list">
                            <p class="branch__days">Saturday - Sunday</p>
                            <p class="branch__hours">08:00 AM - 16:00 PM</p>
                        </li>
                    </ul>
                    <div class="branch__border"></div>
                    <ul class="contact__list">
                        <li class="contact__tel">
                            <a class="tel__link link" href="tel:+61(0)383766284">+61(0) 383 766 284 </a>
                        </li>
                        <li class="contact_mail">
                            <a class="mail__link link" href="mailto:noreply@envato.com">noreply@envato.com</a>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
        <div class="contacts__buttons">
        <button class="btn btn-location" type="submit">Our Locations  ></button>
        <button class="btn btn-franchise" type="submit">Franchise  ></button>
        </div>
    </div>
</section>
