<footer class="footer">
  <div class="container">
    <ul class="footer__list list">
      <li class="footer__item">
        <div class="footer__item-box">
          <h3 class="footer__title">CAFE</h3>
          <p class="footer__city">Chicago</p>
          <p class="footer__description">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
          <p class="footer__day">Monday - Friday</p>
          <p class="footer__time">06:00 AM - 10:00 PM</p>
          <p class="footer__day">Saturday - Sunday</p>
          <p class="footer__time">08:00 AM - 16:00 PM</p>
          <p class="footer__contact">
            +61(0) 383 766 284 <br />
            noreply@envato.com
          </p>
        </div>
      </li>
      <li class="footer__item">
        <div class="footer__item-box">
          <h3 class="footer__title">FOODTRUCK</h3>
          <p class="footer__city">Los Angeles</p>
          <p class="footer__description">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
          <p class="footer__day">Monday - Friday</p>
          <p class="footer__time">06:00 AM - 10:00 PM</p>
          <p class="footer__day">Saturday - Sunday</p>
          <p class="footer__time">08:00 AM - 16:00 PM</p>
          <p class="footer__contact">
            +61(0) 383 766 284 <br />
            noreply@envato.com
          </p>
        </div>
      </li>
      <li class="footer__item">
        <div class="footer__item-box">
          <h3 class="footer__title">CAFE</h3>
          <p class="footer__city">New York</p>
          <p class="footer__description">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
          <p class="footer__day">Monday - Friday</p>
          <p class="footer__time">06:00 AM - 10:00 PM</p>
          <p class="footer__day">Saturday - Sunday</p>
          <p class="footer__time">08:00 AM - 16:00 PM</p>
          <p class="footer__contact">
            +61(0) 383 766 284 <br />
            noreply@envato.com
          </p>
        </div>
      </li>
    </ul>
    <div class="footer__button-box">
      <button type="button" class="">Our Locations</button>
      <button type="button" class="">Franchise</button>
    </div>
    <p class="footer__slogan-one">homemade ice cream made</p>
    <p class="footer__slogan-two">with passion</p>
    <ul class="footer__social-list list">
      <li class="footer__social-item">
        <a class="footer__social-link" href="#">
          <svg class="footer__social-icon">
            <use href="./images/..."></use>
          </svg>
        </a>
      </li>
      <li class="footer__social-item">
        <a class="footer__social-link" href="#">
          <svg class="footer__social-icon">
            <use href="./images/..."></use>
          </svg>
        </a>
      </li>
      <li class="footer__social-item">
        <a class="footer__social-link" href="#">
          <svg class="footer__social-icon">
            <use href="./images/..."></use>
          </svg>
        </a>
      </li>
    </ul>
    <p class="footer__phone">
      Feel free to contact <span class="phone__style">+61 (0) 383 766 284</span>
    </p>
    <p class="footer__copyright">© 2019 - IceCream. All Rights Reserved.</p>
  </div>
</footer>
