<div class="backdrop backdrop-hidden " data-backdrop>
<div class="hamburger is-hidden" data-hamburger>
  <button class="hamburger__close-btn" data-hamburger-close>
    <svg class="btn__close">
      <use href="./images/symbol-defs.svg#icon-close-ham" ></use>
    </svg>
  </button>

  <div class="hamburger-btn">
    <button class="btn__buy ham">Buy now
      <svg class="btn__svg">
        <use href="./images/symbol-defs.svg#icon-button-arrow"></use>
      </svg>
    </button>
  </div>
  <div class="hamburger__menu">
    <ul class="menu__list">
      <li class="menu__item" >
        <a href="#hero-header" id="menu" class="menu__link">Home</a>
      </li>
      <li class="menu__item" id="menu2">
        <a href="#hero-header" class="menu__link">About us</a>
      </li>
      <li class="menu__item" id="menu3">
        <a href="#about" class="menu__link">How it's made?</a>
      </li>
      <li class="menu__item" id="menu4">
        <a href="#products" class="menu__link">Our products</a>
      </li>
      <li class="menu__item" id="menu5">
        <a href="#contacts" class="menu__link last">Contact</a>
      </li>

    </ul>
    
  </div>


</div>
</div>