<header class="hero-header">
    <div class="container">
        
        <ul class="header-list">
            <li class="header-list__items">
                <svg width="" height=""><use href=""></use></svg>
            </li>
            <li class="header-list__items">
                <button class=""><svg width="" height=""><use href=""></use></svg></button>
            </li>
        </ul>

        <section class="hero">
            <ul class="hero-list">
                <li class="hero-list__items"><h1>ice cream made with <span>passion</span></h1></li>
                <li class="hero-list__items"><button>Products</button></li>
                <li class="hero-list__items"><button>How it’s made?</button></li>
            </ul>
        </section>

    </div>
</header>