<header class="hero-header" id="hero-header">
    <div class="container w">
        <div class="header header--margin">
            <ul class="header-list">
                <li class="header-list__items logo">
                    <picture>
                        <img 
                            src="./images/hero-header/mobile/logo.png"
                            srcset="./images/hero-header/mobile/logo.png 1x, ./images/hero-header/mobile/logo@2x.png 2x" 
                            alt="logo icecream"
                            >
                    </picture>
                </li>
                <li class="header-list__items">
                    <nav>
                        <ul class="nav-list">
                            <li class="nav-list__items"><a class="nav-list__link" href="#hero-header">Home</a></li>
                            <li class="nav-list__items"><a class="nav-list__link" href="#">About us</a></li>
                            <li class="nav-list__items"><a class="nav-list__link" href="#about">How it’s made?</a></li>
                            <li class="nav-list__items"><a class="nav-list__link" href="#products">Our products</a></li>
                            <li class="nav-list__items"><a class="nav-list__link" href="#contacts">Contact</a></li>
                        </ul>
                    </nav>
                </li>
            </ul>
            <ul class="header-list">
                <li class="header-list__items hamburger-svg">
                    <button class="btn-svg" type="button" data-hamburger-open>
                        <svg 
                            width="20" 
                            height="12">
                            <use href="./images/symbol-defs.svg#icon-Burger"></use>
                        </svg>
                    </button>
                </li>
                <li class="header-list__items buy-now" >
                    <button class="btn__buy btn__buy--size btn--buy-size" type="submit">
                        Buy now 
                        <svg class="btn__svg">
                            <use href="./images/symbol-defs.svg#icon-button-arrow"></use>
                        </svg>
                    </button>
                </li>
            </ul>
        </div>
        <section class="hero hero--margin">
            <ul class="hero-list">
                <li class="hero-list__items">
                    <h1 class="title-hero">
                        ice cream made with <span class="title-hero title-hero--red">passion</span>
                    </h1>
                </li>
                <li class="hero-list__items">
                    <button class="btn btn--hero-red">
                        <a href="#products">Products</a>
                    </button>
                </li>
                <li class="hero-list__items">
                    <button class="btn btn--hero-white">
                        <a href="#about">How it’s made?</a>
                    </button>
                </li>
            </ul>
            <ul class="open-info">
                <li class="open-info__items">
                    <span class="open-info__time">16</span>
                    <p class="open-info__place">cafes</p>
                    <svg class="open-info__svg" >
                        <use href="./images/symbol-defs.svg#icon-icon-white-ellipse"></use>
                    </svg>
                </li>
                <li class="open-info__items">
                    <span class="open-info__time">23</span>
                    <p class="open-info__place">food trucks</p>
                    <svg class="open-info__svg" >
                        <use href="./images/symbol-defs.svg#icon-icon-white-ellipse"></use>
                    </svg>
                </li>
            </ul>
            <div class="hero-wrapper">
            <ul class="hero__list-photo">
                <li class=" milk">
                    <picture>
                        <source 
                            srcset="./images/hero-header/pc/img3.png 1x, ./images/hero-header/pc/img3@2x.png 2x"
                            media="(min-width: 1280px)"
                        >
                        <img 
                            src="./images/hero-header/tablet/img3.png" 
                            srcset="./images/hero-header/tablet/img3.png 1x, ./images/hero-header/tablet/img3@2x.png 2x"
                            alt="galss of milk"
                        >
                    </picture>
                </li>
                <li class="text">
                    <p class="hero__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
                    <img src="./images/see-more.png" class="hero__text-img" alt="See more"></img>
                </li>
            </ul>
            <ul class="hero__list-photo">
                <li class="tasty">
                    <picture>
                        <source 
                            srcset="./images/hero-header/pc/img2.png 1x, ./images/hero-header/pc/img2@2x.png 2x"
                            media="(min-width: 1280px)"
                        >
                        <img 
                            src="./images/hero-header/tablet/img2.png" 
                            srcset="./images/hero-header/tablet/img2.png 1x, ./images/hero-header/tablet/img2@2x.png 2x"
                            alt="icecream">
                    </picture>
                </li>
            </ul>

            </div>
        </section>
    </div>

    <picture>
        <source 
            srcset="./images/hero-header/pc/img1.png 1x, ./images/hero-header/pc/img1@2x.png 2x"
            media="(min-width: 1280px)"
        >
        <source 
            srcset="./images/hero-header/tablet/img1.png 1x, ./images/hero-header/tablet/img1@2x.png 2x"
            media="(min-width: 768px)"
        >
        <img 
            class="hero-header__icecream" 
            src="./images/hero-header/mobile/img1.png" 
            srcset="./images/hero-header/mobile/img1.png 1x, ./images/hero-header/mobile/img1@2x.png 2x"
            alt="icecream"
        >
    </picture>
    <svg  class="hero-header__circle-cut" width="346" height="344">
        <use href="./images/symbol-defs.svg#icon-pink-ellipse"></use>
    </svg>
</header>


  