<header class="hero-header ">
    <div class="container">

        <ul class="header-list header-list--margin">
            <li class="header-list__items">
               <img src="./images/hero-header/mobile/logo.png" alt="icecream logo">
            </li>
            <li class="header-list__items" >
                <button class="button-svg" hamburger-open><svg width="20" height="12">
                        <use href="./images/symbol-defs.svg#icon-Burger"></use>
                    </svg></button>
            </li>
        </ul>

        <section class="hero hero--margin">
            <ul class="hero-list">
                <li class="hero-list__items">
                    <h1 class="title-hero title-hero--margin-bottom">ice cream made with <span class="title-hero title-hero--red">passion</span></h1>
                </li>
                <li class="hero-list__items"><button class="button button--hero-red">Products</button></li>
                <li class="hero-list__items"><button class="button button--hero-white">How it’s made?</button></li>
            </ul>
        </section>
    </div>

    <img class="hero-header__icecream" src="./images/hero-header/mobile/img1.png" alt="icecream">
    <svg  class="circle-cut" width="346" height="344">
        <use href="./images/symbol-defs.svg#icon-pink-ellipse-cut"></use>
    </svg>

</header>