<section class="products">
  <div class="container">
    <h2 class="product-title">100% natural<span class="accent-class">products</span></h2>
    <div class="product-card">
      <div class="ice-cream card">
        <h3 class="card__title">Ice cream</h3>
        <p class="card__paragraph">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cupiditate,
          voluptas!
        </p>
        <img src="./images/see-more.png" class="card__img" alt="See more" width="40" height="40"></img>
      </div>
      <div class="ice-coffee card">
        <h3 class="card__title">Ice coffee</h3>
        <p class="card__paragraph">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cupiditate,
          voluptas!
        </p>
        <img src="./images/see-more.png" class="card__img" alt="See more" width="40" height="40"></img>
      </div>
      <div class="milkshake card">
        <h3 class="card__title">Milkshake</h3>
        <p class="card__paragraph">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cupiditate,
          voluptas!
        </p>
        <img src="./images/see-more.png" class="card__img" alt="See more" width="40" height="40"></img>
      </div>
    </div>
  </div>
</section>