<section class="review section" id="review">
    <div class="container">
        <h2 hidden>Customer Review</h2>
        <div class="mySlides fade">

            <div class="box__review picture__person--1">
                <div class="slides__text">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem.
                    In hendrerit
                    nulla quam nunc, accumsan
                    congue. Lorem ipsum primis in nibh vel risus.</div>
            </div>


        </div>
        <div class="mySlides fade">

            <div class="box__review picture__person--2">
                <div class="slides__text">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
                    hendrerit nulla quam nunc, accumsan
                    congue. Lorem ipsum primis in nibh vel risus.</div>
            </div>

        </div>
        <div class="mySlides fade">

            <div class="box__review picture__person--3">
                <div class="slides__text">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
                    hendrerit nulla quam nunc, accumsan
                    congue. Lorem ipsum primis in nibh vel risus.</div>
            </div>

        </div>
        <br>

        <div class="dot__styles">
            <span class="dot" onclick="currentSlide(1)"></span>
            <span class="dot" onclick="currentSlide(2)"></span>
            <span class="dot" onclick="currentSlide(3)"></span>
        </div>
    </div>
</section>