
/* Tutaj macie stylowanie buttona */

.btn {
  /*szerokość ustawcie sobie swoją.
  kolor fontu, i backgroundu, reszta jest */
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 44px;
  border: 1px solid transparent;
  border-radius: 22px;
  font-weight: 700;
  font-size: 16px;
  font-family: var(--main-font);

  /* ==== HEADER-HERO BUTTONS ===*/

  &--hero-red {
    // Możliwe do zmiany
    display: inline-block !important;
    width: 62.4px;
    height: 24px;
    background-color: var(--secondary--color);
    color: var(--main--color);
    font-style: normal;
    font-weight: 400;
    font-size: 8px;
    line-height: 1.25;
    text-align: center;
    transition: background-color cubic-bezier(0.075, 0.82, 0.165, 1) 500ms;

    @media screen and (min-width: 1280px) {
      width: 104px;
      height: 40px;
      font-size: 14px;
      line-height: 1.286;
    }

    &:hover,
    &:focus {
      background-color: #c7133e;
    }
  }

  &--hero-white {
    // Możliwe do zmiany
    display: inline-block !important;
    width: 82.8px;
    height: 24px;
    background-color: var(--main--color);
    color: var(--secondary--color);
    font-style: normal;
    font-weight: 400;
    font-size: 8px;
    line-height: 1.25;
    text-align: center;
    transition: background-color cubic-bezier(0.075, 0.82, 0.165, 1) 500ms;

    @media screen and (min-width: 1280px) {
      width: 138px;
      height: 40px;
      font-size: 14px;
      line-height: 1.286;
    }

    &:hover,
    &:focus {
      background-color: #ecebeb;
    }
  }

  &-svg {
    // z-index: 5; w hamburger
    // position: absolute;
    background-color: transparent;
    border: none;
    cursor: pointer;

     @media screen and (min-width: 1280px) {
      cursor: auto;
      display: none;
    }
  }
  
   &__buy--size {
    // Możliwe do zmiany
    width: 159px !important;
    height: 44px !important;
  }

}


/* ==== END HEADER-HERO ===*/


.btn--read {
  font-size: 14px;
  line-height: 1.286;
  text-align: center;
  color: var(--secondary--color);
  width: 176px;
  background: var(--main-background-color);
  margin-right: auto;
  margin-left: 40px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    background-color: var(--color-hover-grey);
  }

}

@media screen and (min-width: 768px) {
  .btn--read {
    margin-left: 0;
  }

}

/* ==== CONTACTS BUTTONS ===*/
@media screen and (min-width: 320px) {
  .btn-location {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 54px;
    margin-bottom: 10px;
    width: 161.45px;
    height: 44px;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.312;
    display: flex;
    align-items: center;
    text-align: center;
    color: var(--main--color);
    background-color: #d41443;

    &:hover,
    &:focus {
      background-color: #c7133e;
    }
  }

  .btn-franchise {
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 161.45px;
    height: 44px;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.312;
    display: flex;
    align-items: center;
    text-align: center;
    color: var(--secondary--color);
    background-color: var(--main--color);

    &:hover,
    &:focus {
      background-color: #ecebeb;
    }
  }
}

@media screen and (min-width: 768px) {
  .contacts__buttons {
    display: flex;
    justify-content: center;
  }

  .btn-location {
    display: inline;
    margin-top: 81px;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 15px;
    width: 191.45px;
  }

  .btn-franchise {
    display: inline;
    margin-left: 0;
    margin-right: 0;
    margin-top: 81px;
    width: 174.05px;
  }
}

@media screen and (min-width: 1280px) {
  .btn-location,
  .btn-franchise {
    margin-top: 86px;
  }
}

/* ==== END CONTACTS BUTTONS ===*/
