.button {
  border: none;
  border-radius: 20px;
  font-family: var(--main-font);

  &--hero-red {
    width: 62.4px;
    height: 24px;
    background-color: var(--secondary--color);
    color: var(--main--color);
    font-style: normal;
    font-weight: 400;
    font-size: 8px;
    line-height: 1.25;
    text-align: center;

    @media screen and (min-width: 1280px) {
      width: 104px;
      height: 40px;
      font-size: 14px;
      line-height: 1.286;
    }
  }

  &--hero-white {
    width: 82.8px;
    height: 24px;
    background-color: var(--main--color);
    color: var(--secondary--color);
    font-style: normal;
    font-weight: 400;
    font-size: 8px;
    line-height: 1.25;
    text-align: center;

    @media screen and (min-width: 1280px) {
      width: 138px;
      height: 40px;
      font-size: 14px;
      line-height: 1.286;
    }

    // &:hover{
    // background: red;
    // }
  }

  &-svg {
    // z-index: 5; w hamburger
    position: absolute;
    background-color: transparent;
    border: none;
  }
}
