
.title-hero{
    width: 218px;
    height: 106px;
    font-family: var(--secondary-font);
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 1.154;
    letter-spacing: 0.04em;
    text-transform: uppercase;

    &--red{
        font-size: 45px;
        color: var(--secondary--color);
    }

    &--margin-bottom{
        margin-bottom: 19px;
    }
}