.title-hero {
  width: 218px;
  height: 106px;
  font-family: var(--secondary-font);
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 1.154;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  margin-bottom: 19px;

  &--red {
    font-size: 45px;
    color: var(--secondary--color);
  }

  @media screen and (min-width: 768px) and (max-width: 1280px) {
    width: 162px;
    height: 80px;
    font-size: 22px;
    line-height: 1.136;
    margin-bottom: 20px;

    &--red {
      font-size: 34px;
    }
  }

  @media screen and (min-width: 1280px) {
    width: 277px;
    height: 137px;
    font-size: 38px;
    line-height: 1.158;
    margin-bottom: 25px;
    &--red {
      font-size: 58px;
    }
  }
}
