@media screen and (min-width: 320px) {
  .gallery {
    box-sizing: border-box;
    display: block;
    background-image: linear-gradient(
      to bottom,
      var(--secondary-background-color) 50%,
      var(--main--color) 50%
    );
    padding-bottom: 80px;
    padding-top: 105px;
  }

  .gallery__background--pic {
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 1s;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('.././images/gallery/mobile/gallery-mobile.png') no-repeat;
    width: 320px;
    height: 122px;
    margin: 0 auto;
    @media screen and (min-width: 320px) and (max-width: 340px) {
      margin-left: -15px;
    }
  }

  @media screen and (min-width: 1280px) {
    .gallery {
      box-sizing: border-box;
      display: block;
      background-image: linear-gradient(
        to bottom,
        var(--secondary-background-color) 50%,
        var(--main--color) 50%
      );
      padding-bottom: 80px;
      padding-top: 166px;
    }
    .gallery__background--pic {
      transition: cubic-bezier(0.075, 0.82, 0.165, 1) 1s;
      display: flex;
      justify-content: center;
      align-items: center;
      background: url('.././images/gallery/desktop/gallery-desktop.png') no-repeat;
      width: 1280px;
      height: 430px;
      margin: 0 auto;
    }
  }

  @media screen and (min-width: 767px) and (max-width: 1279px) {
    .gallery {
      box-sizing: border-box;
      display: block;
      background-image: linear-gradient(
        to bottom,
        var(--secondary-background-color) 50%,
        var(--main--color) 50%
      );
      padding-bottom: 80px;
      padding-top: 136px;
    }
    .gallery__background--pic {
      transition: cubic-bezier(0.075, 0.82, 0.165, 1) 1s;
      display: flex;
      justify-content: center;
      align-items: center;
      background: url('.././images/gallery/tablet/gallery-tablet.png') no-repeat;
      width: 768px;
      height: 264px;
      margin: 0 auto;
    }
  }
}
