@media screen and (min-width: 320px) {
  .gallery {
    box-sizing: border-box;
    display: block;
    background-image: linear-gradient(
      to bottom,
      var(--main--color) 50%,
      var(--secondary-background-color) 50%
    );

  }
}
