.header {
  display: flex;
  justify-content: space-between;

  &--margin {
    transition: margin cubic-bezier(0.075, 0.82, 0.165, 1) 1000ms;
    margin: 6px 20px 0;

    @media screen and (min-width: 768px) and (max-width: 1280px) {
      margin: 37px 34px 0;
    }

    @media screen and (min-width: 1280px) {
      margin: 37px 0 0 48px;
    }
  }
}

.header-list {
  display: flex;
  justify-content: flex-end;

  .logo {
    width: 199px;
    height: 50px;
    margin-right: 64px;
    transition: margin-right cubic-bezier(0.075, 0.82, 0.165, 1) 1000ms;

    @media screen and (min-width: 768px) and (max-width: 1280px) {
      margin-right: 291px;
    }

    @media screen and (min-width: 1280px) {
      margin-right: 110px;
    }
  }

  .hamburger-svg {
    z-index: 3;
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 30px;
    height: 50px;
    margin-right: 30px;
    opacity: 1;
    background-color: transparent;
    transition: opacity cubic-bezier(0.075, 0.82, 0.165, 1) 1000ms;

    @media screen and (min-width: 320px) and (max-width: 768px){
      margin-right: 20px;
    }

    @media screen and (min-width: 1280px) {
      opacity: 0;
    }
  }

  .buy-now {
    z-index: 3;
    position: relative;
    width: 0;
    height: 0;

    display: flex;
    align-items: center;
    opacity: 0;

    @media screen and (min-width: 768px) and (max-width: 1280px) {
      width: 160px;
      height: 44px;
      opacity: 1;
      transition: opacity cubic-bezier(0.075, 0.82, 0.165, 1) 1000ms;
    }

    @media screen and (min-width: 1280px) {
      width: 160px;
      height: 44px;
      margin-right: 115px;
      opacity: 1;
      // transition: opacity ease-in 0.75s;
    }
  }
}

.nav-list {
  display: none;

  @media screen and (min-width: 1280px) {
    z-index: 3;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 600px;

    &__items {
      display: flex;
      align-items: center;
      height: 50px;
      margin-right: 35px;
    }

    &__link {
      font-family: var(--main-font);
      color: var(--main--color);
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      line-height: 1.313;

      cursor: pointer;
      transition: color cubic-bezier(0.075, 0.82, 0.165, 1) 1000ms;

      &:hover,
      &:active {
        color: var(--secondary--color);
      }
    }
  }
}

.hero-header {
  background-color: var(--background-color-pink);
  position: relative;
  overflow: hidden;
  margin-bottom: 121px;

  &__circle-cut {
    z-index: 1;
    position: absolute;
    width: 346px;
    height: 344px;
    top: 83px;
    left: calc(100vw - 310px);
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 1000ms;

    @media screen and (min-width: 768px) and (max-width: 1280px) {
      width: 324px;
      height: 322px;
      top: 31px;
      transform: translateX(-16vw);
    }

    @media screen and (min-width: 1280px) {
      width: 538px;
      height: 538px;
      top: 52px;
      transform: translateX(-43vw);
    }
  }

  &__icecream {
    z-index: 2;
    position: absolute;
    width: 171px;
    height: 410px;
    top: 92px;
    left: calc(100vw - 203px);
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 1000ms;

    @media screen and (min-width: 768px) and (max-width: 1280px) {
      width: 143px;
      height: 336px;
      top: 63px;
      transform: translateX(-21vw);
    }

    @media screen and (min-width: 1280px) {
      width: 236px;
      height: 557px;
      top: 108px;

      animation-name: reSizer;
      animation-duration: 1000ms;
      animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);

      transform: translateX(-43vw);
    }

    @keyframes reSizer {
      0% {
        width: 236px;
        height: 557px;
      }

      20% {
        width: 286px;
        height: 657px;
      }

      100% {
        width: 236px;
        height: 557px;
      }
    }
  }
}

// 16 and 23 //
.open-info {
  visibility: hidden;
  opacity: 0;
  transition: opacity cubic-bezier(0.075, 0.82, 0.165, 1) 1000ms;
  position: absolute;
  top: 0;
  right: 0;

  &__items {
    position: relative;
    display: block;
    text-align: right;
    // margin-right: 43px;
    margin-top: 14px;
    transition: margin-right cubic-bezier(0.075, 0.82, 0.165, 1) 1000ms;

    @media screen and (min-width: 1280px) {
      margin-right: 115px;
      margin-bottom: 18px;
    }
  }

  &__svg {
    z-index: -1;
    position: absolute;
    top: 0;
    right: -8px;
    width: 16px;
    height: 16px;

    @media screen and (min-width: 1280px) {
      width: 30px;
      height: 30px;
    }
  }

  &__time {
    opacity: 1;
    width: 33px;
    height: 32px;
    font-family: var(--secondary-font);
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 1.143;
    letter-spacing: 0.04em;
    text-transform: uppercase;

    color: var(--secondary--color);

    @media screen and (min-width: 1280px) {
      width: 54px;
      height: 53px;
      font-size: 46px;
      line-height: 1.152;
    }
  }

  &__place {
    font-family: var(--main-font);
    font-style: normal;
    font-weight: 400;
    font-size: 8px;
    line-height: 1.25;

    @media screen and (min-width: 1280px) {
      width: 74px;
      height: 18px;
      font-size: 14px;
      line-height: 18px;
      margin-top: 2px;
    }
  }

  @media screen and (min-width: 768px) and (max-width: 1280px) {
    visibility: visible;
    opacity: 1;
  }

  @media screen and (min-width: 1280px) {
    visibility: visible;
    opacity: 1;
  }
}

// Ice cream Made With Pasion //

.hero {
  z-index: 3;
  position: relative;

  &-list__items {
    display: inline;
  }

  &--margin {
    margin: 137px 0 0 20px;
    transition: margin cubic-bezier(0.075, 0.82, 0.165, 1) 1000ms;

    @media screen and (min-width: 768px) and (max-width: 1280px) {
      margin: 15px 34px 0 34px;
    }

    @media screen and (min-width: 1280px) {
      margin: 84px 0 0 115px;
    }
  }

  ///// Photo Milk, icecream text ////////

  .hero-wrapper {
    display: flex;
    justify-content: space-between;
  }

  &__list-photo {
    visibility: hidden;
    display: flex;
    justify-content: flex-end;

    @media screen and (min-width: 768px) and (max-width: 1280px) {
      visibility: visible;
    }
    @media screen and (min-width: 1280px) {
      visibility: visible;
    }
  }

  &__text {
    width: 114px;
    font-family: var(--main-font);
    font-style: normal;
    font-weight: 400;
    font-size: 8px;
    line-height: 150%;
    transition: opacity cubic-bezier(0.075, 0.82, 0.165, 1) 1000ms;
    opacity: 0;

    @media screen and (min-width: 768px) and (max-width: 1280px) {
      margin-top: 66px;
      opacity: 1;
    }
    @media screen and (min-width: 1280px) {
      width: 200px;
      height: 78px;
      font-size: 14px;
      line-height: 140%;
      margin-top: 112px;
      margin-left: 30px;
      opacity: 1;
    }

    &-img {
      margin-top: 7px;
      width: 18px;
      height: 18px;
      cursor: pointer;
      border-radius: 50%;

      @media screen and (min-width: 1280px) {
        margin-top: 20px;
        margin-left: 30px;
        width: 26px;
        height: 26px;
      }

      &:hover {
        border: 3px solid rgba(255, 255, 255, 0.5);
        transition: cubic-bezier(0.075, 0.82, 0.165, 1) 1000ms;
      }
    }
  }

  .tasty {
    width: 168px;
    height: 133px;
    transition: opacity cubic-bezier(0.075, 0.82, 0.165, 1) 2.5s;
    opacity: 0;

    @media screen and (min-width: 768px) and (max-width: 1280px) {
      margin-top: 39px;
      opacity: 1;
    }
    @media screen and (min-width: 1280px) {
      width: 293px;
      height: 232px;
      margin-top: 60px;
      margin-right: 109px;
      opacity: 1;
    }
  }

  .milk {
    width: 124px;
    height: 126px;
    transition: opacity cubic-bezier(0.075, 0.82, 0.165, 1) 1000ms;
    opacity: 0;

    @media screen and (min-width: 768px) and (max-width: 1280px) {
      margin-top: 19px;
      opacity: 1;
    }
    @media screen and (min-width: 1280px) {
      visibility: visible;
      opacity: 1;
      width: 188px;
      height: 191px;
      margin-left: -38px;
      margin-top: 56px;
    }
  }
}
