.review{
    box-sizing: border-box;
}
.mySlides {
    display: none
}
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
&__styles{
  text-align:center;
  padding-bottom: 86px;
}
}
.active, .dot:hover {
  background-color: #717171;
}


.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
.slides__text {
  z-index: +2;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1) 1s;
  top: 50%;
  left: 50%;
transform: translate(-50%, -50%);
color: var(--fourth--color);
  font: --main-font;
  font-size: 12px;
  font-weight: 500;
  line-height: 30.6px;
  text-align: center;
  width: 157px;
  height: 239px;
  position: absolute;
  display: flex;
  background: repeating-linear-gradient(transparent .1px 30px, #E1E1E1 30px 31px);
@media screen and (min-width: 1280px){
width: 750px;
height: 52px;
}
@media screen and (min-width: 767px) and (max-width: 1279px){
width: 480px;
height: 83px;
}
}

.review__svg{
content: '';
fill: var(--svg--icon);
z-index: +1;
left: -1;
}
.slides__text--uppertext{
  
  color: var(--fourth--color);
  font: --main-font;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  padding-top: 52px;
  position: relative;
  &::before{
    content: '...';
  position: absolute;
  font-size: 1.5rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -100%);
  text-align: center;
color:var(--color-hover-red);
letter-spacing: 4px;
  }
}

.box__review{

// padding-top: 237px;
background: var(--review-backgroud-color);
width: 280px;
height: 308px;
position: relative;
margin-right: auto;
margin-left: auto;
justify-content: center;
align-items: center;
transition: cubic-bezier(0.075, 0.82, 0.165, 1) 1s;

@media screen and (min-width: 1280px){
width: 926px;
height: 138px;
}
@media screen and (min-width: 767px) and (max-width: 1279px){
  width: 620px;
  height: 164px;
}
}

.picture__person--1::after{
    content: '';
    position: absolute;
    padding-bottom: 29px;
    left: 50%;
    transform: translate(-50%, -100%);
    width: 85px;
    height: 85px;
    background: url(".././images/review/review_1_person.png") no-repeat;
    background-size: cover;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 1s;
    
}
.picture__person--2::after{
    content: '';
    position: absolute;
    padding-bottom: 29px;
    left: 50%;
    transform: translate(-50%, -100%);
    width: 85px;
    height: 85px;
    background: url(".././images/review/review_2_person.png") no-repeat;
    background-size: cover;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 1s;
    
}
.picture__person--3::after{
    content: '';
    position: absolute;
    padding-bottom: 29px;
    left: 50%;
    transform: translate(-50%, -100%);
    width: 85px;
    height: 85px;
    background: url(".././images/review/review_3_person.png") no-repeat;
    background-size: cover;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 1s;
    
}

